<!doctype html>
<html lang = "pl">
    <head> 
        <meta_charset= "utf-8">
        <title>waluty</title>
    </head>

    <body>

        <label for="waluta">wybierz walutę:</label>
        <select name="waluta" id="waluta">
        <option value="dolar amerykański" >dolar amerykański</option>
        <option value="dolar australijski">dolar autralijski</option>
        <option value="dolar kanadyjski">dolar kanadyjski</option>
        <option value="euro">euro</option>
        <option value="forint" >forint</option>
        <option value="frank szwajcarski">frank szwajcarski</option>
        <option value="funt szterling">funt szterling</option>
        <option value="jen">jen</option>
        <option value="korona czeska" >korona czeska</option>
        <option value="korona duńska">korona duńska</option>
        <option value="korona norweska">korona norweska</option>
        <option value="korona szwedzka">korona szwedzka</option>
        <option value="SDR">SDR</option>
        </select>

<form>
  <div class="container">
    <label for="amount"><b>ilość</b></label>
    <input type="float" placeholder="wpisz ilość waluty" name="ilość" required>
    <button type="calculate">Przelicz</button>
    {{wynik}} # to nie działa
  </div>

    </body>
</html>